<div id="forgot-password-form">
    <div class="logo" fxHide.gt-xs>
        <img src="assets/images/logos/fuse.svg">
    </div>

    <div class="title">¿TIENE PROBLEMAS PARA INICIAR SESIÓN?</div>

    <form name="forgoPasswordForm" [formGroup]="forgotPasswordForm" novalidate>
        <div *ngIf="formu">
            <mat-form-field>
                <input matInput placeholder="Ingrese su usuario" formControlName="email">
                <mat-error *ngIf="forgotPasswordForm.get('email').hasError('required')">
                    Usuario requerido.
                </mat-error>
                <mat-error *ngIf="forgotPasswordForm.get('email').hasError('email')">
                    Por favor ingresa un correo válido.
                </mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="ocultar1(2)">
                Continuar
            </button>
        </div>
        <div *ngIf="formu1">
            <mat-label> Ingrese el código enviado a su correo electrónico o número celular.</mat-label>
            <mat-form-field>
                <input matInput placeholder="Ingrese su código" formControlName="text" [required]="true">
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="ocultar1(1)">
                Atrás
            </button>
            <button mat-raised-button color="primary" (click)="ocultar1(3)">
                Continuar
            </button>
        </div>
        <div *ngIf="formu2">
            <mat-label> Ingrese el código enviado a su correo electrónico o número celular.</mat-label>
            <mat-form-field>
                <input matInput type="password" placeholder="Contraseña" formControlName="password">
                <mat-error>
                    Debe ingresar su nueva contraseña.
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput type="password" placeholder="Contraseña (CONFIRMAR)" formControlName="passwordConfirm">
                <mat-error *ngIf="forgotPasswordForm.get('passwordConfirm').hasError('required')">
                    Debe confirmar su contraseña.
                </mat-error>
                <mat-error *ngIf="!forgotPasswordForm.get('passwordConfirm').hasError('required') &&
                                       forgotPasswordForm.get('passwordConfirm').hasError('passwordsNotMatching')">
                    Las contraseñas deben ser iguales.
                </mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="ocultar1(2)">
                Atrás
            </button>
            <button mat-raised-button color="primary" [routerLink]="'/auth/login'">
                Finalizar
            </button>
        </div>
        <div *ngIf="formu3">
            <mat-label> Ingrese el código enviado a su correo electrónico o número celular.</mat-label>
        </div>
    </form>

    <div class="login" fxLayout="row" fxLayoutAlign="center center">
        <!--<a class="link" [routerLink]="['/auth/login']">Go back to login</a>-->
        <a class="link" [routerLink]="['/auth/login']">Regresar al Login</a>
    </div>
</div>