@import "src/@fuse/scss/fuse";

forgot-password {

    #forgot-password-form {
        padding: 128px 48px 48px 48px;

        @include media-breakpoint('xs') {
            text-align: center;
            padding: 24px;
        }

        .logo {
            width: 128px;
            margin: 32px auto;
        }

        .title {
            font-size: 21px;
        }

        .description {
            padding-top: 8px;
        }

        form {
            width: 100%;
            padding-top: 32px;

            mat-form-field {
                width: 100%;

                @include media-breakpoint('xs') {
                    width: 80%;
                }
            }

            .submit-button {
                width: 100%;
                margin: 16px auto;
                display: block;

                @include media-breakpoint('xs') {
                    width: 80%;
                }
            }
        }

        .login {
            margin: 32px auto 24px auto;
            width: 250px;
            font-weight: 500;

            .text {
                margin-right: 8px;
            }
        }
    }
}
