mat-table, table {
    width: 100%;
}

.mat-row {
    cursor: pointer;
}

.mat-row:hover {
    background-color: #E9EBEE;
}

.mat-header-cell {
    font-weight: bold;
}

.mat-column-nro {
     max-width: 5%;
 }

.mat-column-tag {
    max-width: 10%;
}

.mat-column-uriendpoint {
    max-width: 10%;
}